@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu mới đã được cập nhật. Vui lòng <a asp-page="./Login">click vào đây </a> để xác nhận.
</p>
