@page "/AddImportDetail"
@model BookStore.Pages.Management.ImportManagement.AddImportDetailModel
@using BookStore.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<partial name="_FailNotification" model=@Model.StatusMessage />

<!-- HEADER DESKTOP-->

<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" asp-action="AuthorManagerModel" method="get">
                </form>
                <div class="header-button">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" asp-page="/Account/Manage/Index">@UserManager.GetUserName(User)</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                                    <i class="zmdi zmdi-account"></i>Tài khoản
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="zmdi zmdi-power"></i>Đăng xuất
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<!--END HEADER DESKTOP-->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-5 m-b-35">Nhập thêm sản phẩm</h1>
                <div class="table-responsive table--no-card m-b-30">
                    <form method="post" asp-action="AddCategoryModel">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="rs-select2--light rs-select2--md" style="width: 500px">
                            <select class="js-select2" asp-for="NewImportDetail.BookId">

                                @foreach (var item in Model.Books)
                                {
                                    <option value="@item.BookId">@item.Title</option>
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <label asp-for="NewImportDetail.Quantity" class="control-label"></label>
                            <input asp-for="NewImportDetail.Quantity" class="form-control" />
                            <span asp-validation-for="NewImportDetail.Quantity" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NewImportDetail.InputPrice" class="control-label"></label>
                            <input asp-for="NewImportDetail.InputPrice" class="form-control" />
                            <span asp-validation-for="NewImportDetail.InputPrice" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NewImportDetail.OutputPrice" class="control-label"></label>
                            <input asp-for="NewImportDetail.OutputPrice" class="form-control" />
                            <span asp-validation-for="NewImportDetail.OutputPrice" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Thêm" class="btn btn-success btn-sm" />
                            <a asp-page="./AddImport" class="btn btn-sm btn-primary">Quay lại phiếu nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</script>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/76gi9016qlfwmn8jiijfloc974a5ofre3p85pckmsmk0sj3y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}

